<?xml version="1.0"?>
<config>
    <modules>
        <Copernica_Integration>
            <version>15.10.1</version>
        </Copernica_Integration>
    </modules>
    <global>
        <models>
            <integration>
                <class>Copernica_Integration_Model</class>
                <resourceModel>integration_mysql4</resourceModel>
            </integration>
            <integration_mysql4>
                <class>Copernica_Integration_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>copernica_queue</table>
                    </queue>
                    <config>
                        <table>copernica_config</table>
                    </config>
                    <errorqueue>
                        <table>copernica_error_queue</table>
                    </errorqueue>
                </entities>
            </integration_mysql4>
        </models>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>checkoutSaveStep</method>
                    </integration_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <core_store_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>storeModified</method>
                    </integration_observer>
                </observers>
            </core_store_save_after>
            <sales_quote_item_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>quoteItemRemoved</method>
                    </integration_observer>
                </observers>
            </sales_quote_item_delete_before>
            <sales_quote_item_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>quoteItemModified</method>
                    </integration_observer>
                </observers>
            </sales_quote_item_save_after>
            <sales_order_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>orderModified</method>
                    </integration_observer>
                </observers>
            </sales_order_save_after>
            <sales_order_item_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>orderItemModified</method>
                    </integration_observer>
                </observers>
            </sales_order_item_save_after>
            <newsletter_subscriber_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>newsletterSubscriptionRemoved</method>
                    </integration_observer>
                </observers>
            </newsletter_subscriber_delete_before>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>newsletterSubscriptionModified</method>
                    </integration_observer>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <customer_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>customerRemoved</method>
                    </integration_observer>
                </observers>
            </customer_delete_before>
            <customer_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>customerModified</method>
                    </integration_observer>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>addressModified</method>
                    </integration_observer>
                </observers>
            </customer_address_save_after>
            <customer_address_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>addressRemoved</method>
                    </integration_observer>
                </observers>
            </customer_address_delete_before>
            <sales_order_address_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>addressModified</method>
                    </integration_observer>
                </observers>
            </sales_order_address_save_after>
            <sales_order_address_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>addressRemoved</method>
                    </integration_observer>
                </observers>
            </sales_order_address_delete_before>
            <sales_quote_address_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>addressModified</method>
                    </integration_observer>
                </observers>
            </sales_quote_address_save_after>
            <sales_quote_address_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>addressRemoved</method>
                    </integration_observer>
                </observers>
            </sales_quote_address_delete_before>
            <catalog_product_save_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>productModified</method>
                    </integration_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_controller_product_view>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>productViewed</method>
                    </integration_observer>
                </observers>
            </catalog_controller_product_view>
            <catalog_category_save_commit_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>categoryModified</method>
                    </integration_observer>
                </observers>
            </catalog_category_save_commit_after>
            <catalog_category_tree_move_after>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>categoryModified</method>
                    </integration_observer>
                </observers>
            </catalog_category_tree_move_after>
            <catalog_category_delete_before>
                <observers>
                    <integration_observer>
                        <class>integration/observer</class>
                        <method>categoryRemoved</method>
                    </integration_observer>
                </observers>
            </catalog_category_delete_before>
        </events>
        <resources>
            <integration_setup>
                <setup>
                    <module>Copernica_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </integration_setup>
            <integration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </integration_write>
            <integration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </integration_read>
        </resources>
        <blocks>
            <integration>
                <class>Copernica_Integration_Block</class>
            </integration>
        </blocks>
        <helpers>
            <integration>
                <class>Copernica_Integration_Helper</class>
            </integration>
        </helpers>
    </global>
    <frontend>
        <routers>
            <integration>
                <use>standard</use>
                <args>
                    <module>Copernica_Integration</module>
                    <frontName>copernica</frontName>
                </args>
            </integration>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Copernica_Integration>
                    <files>
                        <default>Copernica_Integration.csv</default>
                    </files>
                </Copernica_Integration>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <copernica_options>
                                            <title>Copernica general configuration</title>
                                        </copernica_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <copernica_options>
            <apisync>
                <!-- by default integration is enabled for every type of website/store. User will have to explicitly say that he does not want to sync specific store --> 
                <enabled>enable</enabled>
            </apisync>
            <apiconnection>
                <!-- The default copernica API address. NOTE that it's prefered to make local overrides rather than editing this file. -->
                <apihost>https://api.copernica.com</apihost>
            </apiconnection>
            <apistorage>
                <!-- The default output file from QueueProcessor. -->
                <reportfile>var/copernica/report.json</reportfile>
            </apistorage>
        </copernica_options>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Copernica_Integration after="Mage_Adminhtml">Copernica_Integration_Adminhtml</Copernica_Integration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <integration_process_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>integration/QueueProcessor::processQueue</model></run>
            </integration_process_queue>
        </jobs>
    </crontab>
</config>
